.catalog-container {
    width: 20%;
    max-width: 360px;
    margin-right: 20px;
    margin-top: 40px;
}

.catalog-title {
    margin-left: 10px;
}

.catalog-list-item {
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

.catalog-list {
    background-color: #f3f3f3;
    margin-top: 10px;
}